@googfontmenu: 'Droid Serif';

/* title font */
h1 a{
    color: black;
    font-family: @googfontmenu, sans-serif;
    font-weight: 700;
}

/* paragraph fonts */
p {
    font-family: @googfontmenu;
    text-align: center;
    &.basic-info {
        text-align: left;
        margin: 10px 5%;
    }
    &.lead {
        margin: 15px 5% 5px;
    }
}

/* hover over title */
h1 a:hover {
    color: black;
}

/* space around headshot */
div.row #headshot{
    margin: 1em;
}

/* navbar centering and coloring */
.navbar-nav {
    width: 100%;
    text-align: center;
    li {
        float: none;
        display: inline-block;
        a {
        color: black;
        font-size: 125%;
        font-family: @googfontmenu, sans-serif;
        }
    }
    li.active {
        text-decoration: underline;
    }
    ul.dropdown-menu li a:hover {
        display: block;
        text-decoration: underline;
        background: none;
    }
}

