/* CSS crunched with Crunch - http://crunchapp.net/ */
/* title font */
h1 a {
  color: black;
  font-family: 'Droid Serif', sans-serif;
  font-weight: 700;
}
/* paragraph fonts */
p {
  font-family: 'Droid Serif';
  text-align: left;
  margin-bottom: 15px;
}
p.center-it {
  text-align: center;
  margin: 10px 5%;
}
/* hover over title */
h1 a:hover {
  color: black;
}
/* space around headshot */
div.row #headshot {
  margin: 1em;
}
/* navbar centering and coloring */
.navbar-nav {
  width: 100%;
  text-align: center;
}
.navbar-nav li {
  float: none;
  display: inline-block;
}
.navbar-nav li a {
  color: black;
  font-size: 125%;
  font-family: 'Droid Serif', sans-serif;
}
.navbar-nav li.active {
  text-decoration: underline;
}
.navbar-nav ul.dropdown-menu li a:hover {
  display: block;
  text-decoration: underline;
  background: none;
}
/* footer centering */
.footer p {
  text-align: center;
}
/* top buffer for spacing out rows */
.top-buffer {
  margin-top: 20px;
}
