{% extends "base.html" %}
{% set active_page = "about" %}

{% block title %} | About{% endblock title %}

{% block body %}

<div class="container">
  <div class="row">
	<div class="col-lg-12">
		<p class="lead basic-info">Me</p>

		<p class="basic-info">I'm good with lists
			<ul>
				<li>I live in <a href="http://www.a2gov.org/Galleries/Home/A2%20photos%20toned-2052.jpg?RenditionId=11">Ann Arbor, MI</a></li>
				<li>I work as a Mechanical Engineer / Data Analyst for the US EPA</li>
				<li>In the past 7 years, I have only driven my car to work once (mostly I bike, sometimes I bus)</li>
				<li>I'm passionate about <a href="https://scontent-lga1-1.xx.fbcdn.net/hphotos-xfp1/v/t1.0-9/10303867_10103902741516533_4951379409415181034_n.jpg?oh=481f725983a7acbe2e1035f75c472943&oe=5627F97B">rock climbing</a>, cycling, <a href="https://scontent-lga1-1.xx.fbcdn.net/hphotos-xaf1/v/t1.0-9/392618_10101092271530913_414407075_n.jpg?oh=8bc8647e960b57e09016f87401396a52&oe=563353F7">mountain biking</a>, running and staying active outdoors</li>
				<li>I also love camping and backpacking</li>
				<li>Programming is a recent hobby I found after teaching myself in order to my job better.</li>
				<li>I've been <a href="https://scontent-lga1-1.xx.fbcdn.net/hphotos-xaf1/v/t1.0-9/182442_192505714103171_7214952_n.jpg?oh=fb61ebc7b10b7746331fcf6ececad3b9&oe=55E7C322">playing piano</a> since I was 5, and trumpet since I was 10</li>
				<li>I've completed 2 half ironman triathlons and one marathon, and don't have much desire to do either one ever again</li>
				<li><a href="https://scontent-lga1-1.xx.fbcdn.net/hphotos-xfp1/v/t1.0-9/s720x720/19506_10105058667900793_5018091075745658229_n.jpg?oh=484f2377e23ded9700766cf3c85bda6d&oe=55EDE9A9">Two younger brothers</a></li>
				<li>I'm an alum of the University of Michigan</li>
				<li>And the <a href="https://scontent-lga1-1.xx.fbcdn.net/hphotos-xap1/v/t1.0-9/1910601_549041384523_5968_n.jpg?oh=edd8a4ab8f0b026f0a0c4321ddc1da0b&oe=55EE7791">Phantom Regiment</a></li>
				<li>I've been to Canada, Ecuador, Costa Rica, France, Greece, Italy and Spain</li>
				<li>There are some more places I'd like to go (Thailand, more of South America)</li>
			</ul>
		</p>
	</div>
  </div>
</div>

{% endblock body %}