{% extends "base.html" %}
{% set active_page = "projects" %}

{% block title %} | Projects | Bottle Cap Michigan{% endblock title %}

{% block body %}
<div class="container">
  <div class="row">
  	<div class="col-md-8 col-md-offset-2">
		<p> For three years, I collected the bottle caps from all the Michigan beers I consumed with the intent of eventually building a map of Michigan with them.
			When the U.S. government was "shut down" in October 2013, I knew it was the perfect opportunity.
		</p>
		<p>
			This imgur slideshow documents the process, from laying it all out in Google Sketchup, to preparing the wood, and ultimately gluing on hundreds of bottle caps. It was a fun project,
			and hopefully will be with me for some time.
		</p>
	</div>

  	<div class="col-md-6 col-md-offset-3">
		<blockquote class="imgur-embed-pub" lang="en" data-id="a/w5lMy">
			<a href="//imgur.com/a/w5lMy">bottle cap michigan</a>
		</blockquote>
		<script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script>
	</div>
  </div>
</div>
{% endblock body %}