{% extends "base.html" %}
{% set active_page = "resume" %}

{% block title %} | Resumé{% endblock title %}

{% block body %}
<link rel="stylesheet" type="text/css" href="/static/css/resume.css"> 

<div class="container">
<div class="col-md-8 col-md-offset-2">

<div class="resume"> <div class="linename"><span 
class="cmbx-12x-x-144">David Hawkins</span></div><hr /><div class="line-address"><a 
href="mailto:iamdavehawkins@gmail.com" >
iamdavehawkins@gmail.com</a><br />(734) 274-1814</div>
<h4 class="sectionHead"><a 
 id="x1-10000"></a>Professional Experience</h4><div class="section">
<!--l. 28--><p class="noindent" ><span 
class="cmbx-10">Mechanical Engineer / Data Analyst               April 2008 - Present, 7</span><span 
class="cmbx-10">&#x00A0;years</span>
<br 
class="newline" />U.S Environmental Protection Agency, Ann Arbor, MI
       <ul class="itemize1">
       <li class="itemize">Led a team of four in developing MOVES (EPA emissions model) Test Suite, a
       Windows GUI Python application to simplify and standardize a QA/testing process.
       This saved hours of staff time previously spent repeating manual and error prone
       testing. The test suite is scalable to any number of tests, greatly improved code
       coverage, and became part of our release process.
       </li>
       <li class="itemize">Familiarity with creating and tracking issues, bugs, and features in JIRA.
       </li>
       <li class="itemize">Used R and Python to homogenize, QA/QC, and analyze complicated time-series
       data for millions of real-world vehicle trips. Performed statistical tests on all trips
       to compare real-world driving to federal driving cycles. Led analysis in top-down
       machine learning (cluster analysis) to discover common driving patterns and their
       relation to fuel economy.
       </li>
       <li class="itemize">Wrote Python code to manipulate and analyze hundreds of time-series engine tests.
       Performed basic statistics to QC test points and created summary files and reports.
       </li>
       <li class="itemize">Automated the environment building process for our modeling team with Python
       and Bash scripts. This saved time for developers and testers during short release
       cycles by no longer having to manually retrieve code and set up configuration.
       </li>
       <li class="itemize">Architected a Python library for myself and other developers to automate model
       runs. Previously all interaction was performed manually through the end user GUI
       which only supports one run at a time and demanded lots of staff time. This library
       is scalable to any number and variety of model runs, executes unsupervised, and
       condenses millions of rows of results into a digestible report.
       </li>
       <li class="itemize">Designed and developed Engine Mapper, a distributable .exe Windows GUI Python
       application for use in engine calibration to quickly QA, interpolate, and visualize
       data from an engine dynomometer. This tool&#8217;s quick reporting allowed testing to be
       much more thorough and accurate than previously when all analysis was performed
       manually in Excel.
       </li>
       <li class="itemize">Contributed to a new modeling paradigm for EPA&#8217;s evaporative emissions model
       by developing new algorithms and higher quality data. In addition to providing
       increased user customization, this greatly increased our model&#8217;s resolution, improved
       accuracy, and influenced national rulemaking.
       </li>
       <li class="itemize">Designed  Python  modules  for  importing  and  analyzing  data  from  portable
       emissions/activity measurement systems, and laboratory data files. The data are
                                                                                                                            
                                                                                                                            
            homogenized and stored in a MySQL database.
            </li>
            <li class="itemize">Led an initiative to move from Excel to Python and R, and serve as a Python mentor
            for  many  colleagues.  My  demonstration  of  Python  as  a  significant  productivity
            tool led to two forty-hour formal Python trainings for over 30 people. Also host
            biweekly Python lunch seminars attended by 20-30 colleagues to teach and support
            our growing user base.
            </li>
            <li class="itemize">Led the first implementation of version control (Git) and use heavily in collaboration
            with other developers and for personal projects. Also adhere to style guides, actively
            seek best practices, use Pylint to discover errors, and cProfile to find bottlenecks.
            </li>
            <li class="itemize">Program management of and contributions to multiple evaporative emission test
            programs. Ensured that these first-of-their-kind test programs collected quality data,
            finished on time, and under budget.
            </li>
            <li class="itemize">Wrote Python scripts to aggregate thousands of fuel samples from across the country
            into a MySQL database to be used as a reference for fuel research programs.
            </li>
            <li class="itemize">Presented new emissions model designs, test program results and best practices, big
            data analyses, and more at several government and industry conferences.
            </li></ul>
       </div><h4 class="sectionHead"><a 
 id="x1-20000"></a>Web Experience</h4><div class="section">
            <ul class="itemize1">
            <li class="itemize">Successfully built two sites using the Python Flask framework. The sites are launched
            via Heroku and static content is hosted on AWS S3.
            <!--l. 99--><p class="noindent" >&#x00A0;      My personal website - <a 
href="http://iamdavehawkins.com" class="url" ><span 
class="cmtt-10">http://iamdavehawkins.com</span></a>
            <!--l. 100--><p class="noindent" >&#x00A0;      Professional website for musician - <a 
href="http://roberthawkinsmusic.com" class="url" ><span 
class="cmtt-10">http://roberthawkinsmusic.com</span></a>
            </li>
            <li class="itemize">Currently developing a new site using the Python Django framework.
            <!--l. 102--><p class="noindent" >&#x00A0;      Happy             Hour             app             (source             code)             -
            <a 
href="https://github.com/iamdavehawkins/happyhour" class="url" ><span 
class="cmtt-10">https://github.com/iamdavehawkins/happyhour</span></a></li></ul>
       </div><h4 class="sectionHead"><a 
 id="x1-30000"></a>Skills</h4><div class="section">
       <div class="tabular"> <table id="TBL-1" class="tabular" 
cellspacing="0" cellpadding="0"  
><colgroup id="TBL-1-1g"><col 
id="TBL-1-1"><col 
id="TBL-1-2"></colgroup><tr  
 style="vertical-align:baseline;" id="TBL-1-1-"><td  style="white-space:nowrap; text-align:left;" id="TBL-1-1-1"  
class="td01"><span class="underline">Proficient</span>   </td><td  style="white-space:wrap; text-align:left;" id="TBL-1-1-2"  
class="td10"><!--l. 107--><p class="noindent" >Python, R, Windows/Mac OS                         </td>
</tr><tr  
 style="vertical-align:baseline;" id="TBL-1-2-"><td  style="white-space:nowrap; text-align:left;" id="TBL-1-2-1"  
class="td01"><span class="underline">Intermediate</span></td><td  style="white-space:wrap; text-align:left;" id="TBL-1-2-2"  
class="td10"><!--l. 108--><p class="noindent" >Git, MySQL, Unix/Linux, Eclipse IDE              </td>
</tr><tr  
 style="vertical-align:baseline;" id="TBL-1-3-"><td  style="white-space:nowrap; text-align:left;" id="TBL-1-3-1"  
class="td01"><span class="underline">Basic</span>          </td><td  style="white-space:wrap; text-align:left;" id="TBL-1-3-2"  
class="td10"><!--l. 109--><p class="noindent" >Java, <span class="LATEX">L<span class="A">A</span><span class="TEX">T<span 
class="E">E</span>X</span></span>, HTML/CSS, AWS                    </td>
</tr></table></div>
       </div><h4 class="sectionHead"><a 
 id="x1-40000"></a>Education</h4><div class="section">
       <!--l. 113--><p class="noindent" >BSE, Civil &amp; Environmental Engineering <br 
class="newline" />University of Michigan, Ann Arbor, MI, April 2009
       </div><h4 class="sectionHead"><a 
 id="x1-50000"></a>Awards</h4><div class="section">
       <!--l. 117--><p class="noindent" >EPA Science Achievement Award - Chemistry (2012) <br 
class="newline" /><span 
class="cmti-10">For innovative fuel research that significantly advances the Agency&#8217;s Understanding of</span>
       <span 
class="cmti-10">the effects of fuel chemistry on vehicle emissions and their impact on atmospheric</span>
                                                                                                                    
                                                                                                                    
       <span 
class="cmti-10">chemistry.</span>
       <!--l. 122--><p class="noindent" >EPA Science Achievement Award - Engineering (2014) <br 
class="newline" /><span 
class="cmti-10">For scientific achievements enhancing EPA&#8217;s GHG knowledge and its reputation for advanced</span>
       <span 
class="cmti-10">vehicle and engine research.</span>
       </div><h4 class="sectionHead"><a 
 id="x1-60000"></a>Publications</h4><div class="section">
       <!--l. 126--><p class="noindent" >Stuhldreher, M., Schenk, C., Brakora, J., Hawkins, D., Moskalik, A., DeKraker, P. (2015)
       <span 
class="cmti-10">Downsized Boosted Engine Benchmarking and Results </span><br 
class="newline" /><a 
href="http://papers.sae.org/2015-01-1266/" class="url" ><span 
class="cmtt-10">http://papers.sae.org/2015-01-1266/</span></a>
       <!--l. 130--><p class="noindent" >Hawkins, D., Hart, C., Brzezinski, D., &amp; Brown, J. (2014) <span 
class="cmti-10">Evaporative Emissions from On-road</span>
       <span 
class="cmti-10">Vehicles in MOVES2014 </span><br 
class="newline" /><a 
href="http://www.epa.gov/oms/models/moves/documents/420r14014.pdf" class="url" ><span 
class="cmtt-10">http://www.epa.gov/oms/models/moves/documents/420r14014.pdf</span></a>
       <!--l. 134--><p class="noindent" >Giannelli, R., Fulper, C., Hart, C., Hawkins, D. et al., (2010) <span 
class="cmti-10">In-Use Emissions from Non-road</span>
       <span 
class="cmti-10">Equipment for EPA Emissions Inventory Modeling (MOVES) </span><br 
class="newline" /><a 
href="http://papers.sae.org/2010-01-1952/" class="url" ><span 
class="cmtt-10">http://papers.sae.org/2010-01-1952/</span></a>
       </div>
       </div>
</div>
</div>

{% endblock body %}
